@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './normalize.scss';
@import './variables.scss';

body {
    font-family: 'roboto';
    color: $text;
    background-color: $background;
}

.hide {
    display: none !important;
}